* {
    margin: 0;
    padding: 0;
    line-height: 1.5;
  }
  
  body {
    background-image: url(https://i.ibb.co/NWnKsFv/space-repeat-pixel-background-124507-5358.jpg);
    font-family: 'Press Start 2P', cursive;
    color: #ffffff;
    min-height: 100vh;
  }
  
  body > h1 {
    background: #0F2027;
    background: -webkit-linear-gradient(to left, #2C5364, #203A43, #0F2027);
    background: linear-gradient(to left, #2C5364, #203A43, #0F2027);
    text-align: center;
    height: 20vh;
    line-height: 20vh;
    border-radius: 15px;
    margin: 20px;
    text-shadow: 4px 4px 2px #000;
  }
  
  main {
    background-color: rgb(0, 0, 0, 0.8);
    text-align: center;
    min-height: 45vh;
    border-radius: 15px;
    margin: 20px;
    padding: 20px;
  }
  
  footer {
    background-color: rgb(0, 0, 0, 0.8);
    text-align: left;
    min-height: 10vh;
    border-radius: 15px;
    margin: 20px;
    padding: 20px 0 20px 10%;
  }
  
  footer > h1 {
    font-size: 1.5rem;
    text-decoration: underline;
  }
  
  footer > address::before {
    content:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 576 512'%3E%3Cpath width='100' fill='%23fff' d='M528 32H48C21.5 32 0 53.5 0 80v352c0 26.5 21.5 48 48 48h480c26.5 0 48-21.5 48-48V80c0-26.5-21.5-48-48-48zm-352 96c35.3 0 64 28.7 64 64s-28.7 64-64 64-64-28.7-64-64 28.7-64 64-64zm112 236.8c0 10.6-10 19.2-22.4 19.2H86.4C74 384 64 375.4 64 364.8v-19.2c0-31.8 30.1-57.6 67.2-57.6h5c12.3 5.1 25.7 8 39.8 8s27.6-2.9 39.8-8h5c37.1 0 67.2 25.8 67.2 57.6v19.2zM512 312c0 4.4-3.6 8-8 8H360c-4.4 0-8-3.6-8-8v-16c0-4.4 3.6-8 8-8h144c4.4 0 8 3.6 8 8v16zm0-64c0 4.4-3.6 8-8 8H360c-4.4 0-8-3.6-8-8v-16c0-4.4 3.6-8 8-8h144c4.4 0 8 3.6 8 8v16zm0-64c0 4.4-3.6 8-8 8H360c-4.4 0-8-3.6-8-8v-16c0-4.4 3.6-8 8-8h144c4.4 0 8 3.6 8 8v16z'%3E%3C/path%3E%3C/svg%3E");
    display:inline-block;
    font-size:inherit;
    overflow:visible;
    vertical-align:-.125em;
    width:1.5em;
    margin-right:.75rem;
  }
  
  img {
    max-width: 45%;
    border-radius: 15px;
    display: block;
    margin: 10px auto;
    animation: float 6s ease-in-out infinite;
  }
  
  @keyframes float {
      0% {
          transform: translateY(0px);
      }
      50% {
          transform: translateY(-20px);
      }
      100% {
          transform: translateY(0px);
      }
  }
  
  @media only all and (max-width: 550px) {
    body > h1 {
      font-size: 1rem;
    }
  }
  
  a{
    color: #00ffe1;
  }